body {
	background-color: rgb(44, 44, 44)
}

h1 { 
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 10
}

h3 {
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial, sans-serif;
	font-weight: bold;
	font-size: 10;
}

a {
	color: #fff;
}

.main_txt {
	text-align: center;
}

.second_text {
	text-align: center;
}

.projects {
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial, sans-serif;
	font-weight: bold;
	border: 5px dashed#428;
	position: absolute;
	bottom: 50%;
	right: 45%;
	text-align: center;
	width: 20%;
}